<div class="flex space-x-4 mt-1">
  <div class="mt-1 ml-5">
    <ul >
      <li class="my-3 w-20">
        <a class="hover:text-xl hover:font-bold" routerLink="/">All</a>
      </li>
      <li class="my-3 w-20" *ngFor='let category of categories()'>
        <a class="hover:text-xl hover:font-bold" routerLink='/' [queryParams]='{category_id: category.id}'>{{
          category.name }}</a>
        <hr>
      </li>
    </ul>
  </div>
  <div class="grid grid-cols-4 gap-8">
    <app-product *ngFor='let product of products()' [product]='product' (addToCart)='addToCart($event)' />
  </div>
</div>
